{% extends 'base.html.twig' %}

{% block title %}Hello !
{% endblock %}

{% block body %}
	{# twitt section #}
	{% block post %}
		<div class="border border-dark my-2 flex rounded bg-light">
			<div class="card-header">
				<img class="d-block rounded-circle" src={{ vich_uploader_asset(post.user) }} alt="user profil picture" width="50" height="50">
				<a href={{ path('app_user_profile', {'id': post.user.id} )}} class="btn btn-light">@{{post.user.username}}</a>
			</div>
			{% if post.mediaName is empty %}
			{% else %}
			<img class="mx-auto d-block p-1 img-fluid" src={{vich_uploader_asset(post)}} alt="Card image">
			{% endif %}
			<div class="card-body">
				<h3>{{post.content}}</h3>
			</div>

			<div class="card-footer">
				<div class="d-flex gap-2">
					<a href={{ path('app_post_like', {'id': post.id} )}} class="btn btn-light">
						{% if app.user in post.likes %}
							<i class="fas fa-heart" style="color:red;"></i>
						{% else %}
							<i class="far fa-heart"></i>
						{% endif %}
					</a>

					{% if app.user %}
						{% if app.user is same as(post.user) %}
							<a class="btn btn-outline-secondary" href={{ path('app_post_edit',{'id':post.id} ) }}>
								<i class="fas fa-wrench"></i>
							</a>

							<form method="post" action={{ path('app_post_delete',{'id': post.id} ) }}>
								<input type="hidden" name="_token" value={{csrf_token('delete' ~ post.id)}}>
								<button type="submit" class="btn btn-outline-danger">
									<i class="fas fa-trash-alt"></i>
								</button>
							</form>
						{% endif %}
					{% endif %}
					<p class="align-items-center">
						<small>{{post.createdAt | date('d/m/Y H:i:s')}}</small>
					</p>
				</div>
			</div>
		</div>
	{% endblock %}


		{# comment section #}
	{% block comments %}
		{# formulaire #}
			<div>
				{% if app.user %}
				{{form_start(form)}}
				{{form_widget(form.content)}}
					<button type="submit" class="btn btn-secondary">Post my comment</button>
				{{form_end(form)}}
			{% else %}
				<div>
					<div>
						<p>You have to be connected to post.</p>
					</div>
				</div>
			{% endif %}
		</div>

		{# si pas de comm #}
		{% if comments is empty %}
			<div>
				<p>Be the first to comment !</p>
			</div>
		{% else %}
			{# affichage comm #}
			{% for comment in comments %}
				<div class="border border-dark my-2 flex rounded bg-light">
					<div class="card-header pb-2">
						<p>@{{comment.user.username}}</p>
					</div>
					<div class="card-body">
						<h3>{{comment.content}}</h3>
					</div>
					<div class="card-footer">
						<p class="align-items-center">
							<small>{{comment.createdAt | date('d/m/Y H:i:s')}}</small>
						</p>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	{% endblock %}
{% endblock %}
